.center {
  text-align: center;
  border: 3px solid green;
  width : 500px;
}
ul#menu li {
  display:inline;
}

/* Make sure the links never turn back to purple */

a { color:blue } /* Globally */

/* Each state */

/* Credit due here! -> https://stackoverflow.com/questions/10312857/blue-and-purple-default-links-how-to-remove */

a:visited { text-decoration: none; color:blue; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }


/* More credit due here -> https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
